@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&family=Montserrat:ital,wght@0,100;1,100&family=Quicksand:wght@400;500&family=Ubuntu:wght@300;400&display=swap');
html,body{
    margin: 0;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 10rem;
    height: auto;
    padding: 0px 0px 0px 100px;
  }
  
  nav {
    position: relative;
    margin-left: 50px;
  }
  
  nav li {
    display: inline;
    margin: 0 0 0 15px;
  }
  
  nav a {
    color: #000000;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-weight: bold;
  }
  .menu-1:hover{
    color: #ff0e07; 
  }
  .menu-2:hover{
    color: #156c30; 
  }
  .menu-3:hover{
    color: #fc5d00; 
  }
  .menu-4:hover{
    color: #0075ff;
  }
  hr{
    margin: 0px 4rem 0px 4rem;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    opacity: 0.3;
    height: 5px;
    border: none;
  }
  .hr{
    margin: 0px 2rem;
    background: #adadad;
    opacity: 0.3;
    height: 5px;
    border: none;

  }
  .titulo-principal{
    margin: 5px 4rem;
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    
  }
  .texto{
    width: 100%;
}
.texto-principal{
    padding: 1rem 4rem 0px 4rem;
    margin: 0 0 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}
.image-4{
    display: flex;
    justify-content: center;
}
.image-4 img{
    width: 80%;
    height: 10%;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 1rem 4rem ;
    margin-top:20px;
}
figcaption{
    display: flex;
    justify-content: center;
    width: 100%;
    font-style: italic;
    opacity: 0.5;
}
figure img{
    width: 70%;
    height: auto;
}
footer {
    text-align: center; 
    padding: 20px 0; 
  }
  
  #redes-sociales {
    display: inline;
  }  
  #imgIcon{
    width: 3%;
  }
@media (max-width: 768px) {
    header {
      display: block;
    }
    .logo {
      width: 8rem;
      padding: 0px 0px 0px 20px;
    }
    nav {
      margin: 0;
    }
    .texto .texto-principal{
        padding: 0px 1rem;
    }
    .titulo-principal{
        width: 100%;
        font-size: 2.2rem;
        margin-left: 1rem;
    }
    .image-4 img{
        width: 100%;
    }
    section{
        padding: 0px;
    }
    figure img{
        width: 100%;
    }
  }